
/*@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #e5e5e5;
	background-image: url("../../img/level/level3.png");
  padding: 50px;
}

#card-front {
  color: #FFDFDF;
}

#card, #card-front, #card-inside {
  height: 730px;
}

.wrap {
    padding: 1.5em 2.5em;
    height: 100%;
}

#card-front, #card-inside {
  width: 25%;
  left: 38%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  position: absolute;
}


#card-inside .wrap {
    background: #effff0;
    -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
}
#card {
    max-width: 960px;
    left: -15%;
    margin: 0 auto;
    perspective: 5000px;
    -moz-perspective: 5000px;
    -webkit-perspective: 5000px;
    position: relative;
}

#card h1 {
    text-align: center;
    font-style: italic;
    font-size: 70px;
    text-shadow: 
        4px 4px 0px rgba(0, 0, 0, .15),
        1px 1px 0 rgba(255, 200, 200, 255),
        2px 2px 0 rgba(255, 150, 150, 255),
        3px 3px 0 rgba(255, 125, 125, 255);
    color: #FFF;
}
#card-inside {
    font-size: 1.1em;
    line-height: 1.4;
    font-family: 'Nobile';
    color: #331717;
    font-style: italic;
}

p {
    margin-top: 1em;
}


p.signed {
    margin-top: 1.5em;
    text-align: center; 
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5em;
}

#card-front .wrap {
            transition: background 1s linear;
       -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
}


.button1 {
	background-color: #A9CD45; /* Blue */
	border: none;
	color: white;
	height: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 20px;
  cursor: pointer;
}